# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.
5. Julia.
6. Scala.
7. C/C++.
8. JavaScript.

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.
10. BeautifulSoup.
11. LightGBM.
12. ELI5.
13. Theano.
14. NuPIC.
15. Ramp.
16. Pipenv.
17. Bob.
18. PyBrain.
19. Caffe2.
20. Chainer.

| Data Science Tools|
| ----------- |
|SAS. It is one of those data science tools which are specifically designed for statistical operation|
| Apache Spark |
| BigML |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#his a simple arithmetic expression to mutiply then add integers
(3*4)+5
# Result: 17

17

# This will convert 200 minutes to hours by diving by 60

In [5]:
#This will convert 200 minutes to hours by diving by 60
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

- Pizza
- Cake
- Cookies

## Ban Nguyen Kim (Elise)